<%= form_for(@favorite_pet) do |f| %>
  <% if @favorite_pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_pet.errors.count, "error") %> prohibited this favorite_pet from being saved:</h2>

      <ul>
      <% @favorite_pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.number_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
